<ul class="preview_list">
  {{#each this}}
    <li class="mini_flag">
      <img class="preview_pic" src="{{flag}}" alt="flag{{name}}" width="100">
      <h3 class="preview_title" data-name="{{name}}">{{name}}</h3>
    </li>
  {{/each}}
</ul>