<ul class="preview_list">
  {{#each this}}
    <li>
      <img class="preview_pic" src="{{flag}}" alt="flag{{name}}" width="100">
      <h2 class="previw_title" data-name="{{name}}">{{name}}</h2>
    </li>
  {{/each}}
</ul>